MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=stf_data

# Celery (RabbitMQ broker) and results backend (MongoDB)
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=mongodb://root:example@mongo:27017/celery_results?authSource=admin
